# Core functionality - changes here should be rare!
/src/app.py                   @RajnishAnand
/src/backend/database.py      @RajnishAnand
/src/backend/routers/auth.py  @RajnishAnand

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RajnishAnand
